<div class="container">
  <h1>My Personal Home Page</h1>
  <p>You can read more about me, or checkout my blog.</p>
  <%= link_to "About Me", about_path, class:"btn btn-secondary" %>
  <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>
