<div id="<%= dom_id project %>">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2><%= link_to project.title, project %></h2>
        <%= link_to project.link, project.link %>
      </div>
      <hr />
      <div class="col-12">
        <%= project.body %>
      </div>
    </div>
  </div>
</div>
