<div id="<%= dom_id category %>">
  <h2>
    <% target = action_name.eql?("show") ? categories_path : category %>
    <%= link_to category.name, target %>
  </h2>
  <% category.posts.includes(:user, :rich_text_body).each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
